{{template "head" .}}

{{template "prom_right_table_head"}}
<tr>
    <td>To Handle</td>
    <td>
        {{ template "prom_query_drilldown" (args "sum(petus_projectus_handler_handle_time_count) - sum(petus_projectus_worker_handle_time_count)") }}
    </td>
</tr>
<tr>
    <td>RPM (gate)</td>
    <td>
        {{ template "prom_query_drilldown" (args "round(sum(rate(petus_projectus_protobuf_request_duration_count{instance=\"gate\"}[1m])))") }}
    </td>
</tr>
{{template "prom_right_table_tail"}}


{{template "prom_content_head" .}}
<h1>Petus-Projectus</h1>

<div style="display: flex;flex-direction: column;">
    <hr />

    <div style="display: flex; gap: 0px 8%;">
        <div style="width: 45%;">
            <h3>Protobuf</h3>
            <div id="protobufGraph"></div>
        </div>
        <div style="width: 45%;">
            <h3>Business</h3>
            <div id="businessGraph"></div>
        </div>
    </div>

    <hr />

    <h3>Kafka</h3>

    <hr />

    <div style="display: flex; gap: 0px 8%;">
        <div style="width: 45%;">
            <h4>read</h4>
            <div id="kafkaReadGraph"></div>
        </div>
        <div style="width: 45%;">
            <h4>write</h4>
            <div id="kafkaWriteGraph"></div>
        </div>
    </div>

    <hr />

    <h3>RabbitMQ</h3>

    <hr />

    <div style="display: flex; gap: 0px 8%;">
        <div style="width: 45%;">
            <h4>read</h4>
            <div id="rabbitMQReadGraph"></div>
        </div>
        <div style="width: 45%;">
            <h4>write</h4>
            <div id="rabbitMQWriteGraph"></div>
        </div>
    </div>
</div>
<script>
    function simpleDuration(selector, expr) {
        new PromConsole.Graph({
            node: document.querySelector(selector),
            expr: expr,
            name: "[[instance]]",
            yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
            yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
            min: 0,
            yUnits: "s",
            yTitle: "Duration"
        })
    }

    simpleDuration("#protobufGraph", "sum by (instance) (rate(petus_projectus_protobuf_request_duration_sum[1m])) / sum by(instance) (rate(petus_projectus_protobuf_request_duration_count[1m]))")

    simpleDuration("#businessGraph", "sum by (instance) (rate(petus_projectus_worker_business_handle_time_sum[1m]))/sum by(instance) (rate(petus_projectus_worker_business_handle_time_count[1m]))")

    simpleDuration("#kafkaReadGraph", "sum by (instance) (rate(petus_projectus_kafka_read_handle_time_sum[1m])) / sum by(instance) (rate(petus_projectus_kafka_read_handle_time_count[1m]))")
    simpleDuration("#kafkaWriteGraph", "sum by (instance) (rate(petus_projectus_kafka_write_handle_time_sum[1m])) / sum by(instance) (rate(petus_projectus_kafka_write_handle_time_count[1m]))")

    simpleDuration("#rabbitMQReadGraph", "sum by (instance) (rate(petus_projectus_rabbitmq_read_handle_time_sum[1m])) / sum by(instance) (rate(petus_projectus_rabbitmq_read_handle_time_count[1m]))")

    simpleDuration("#rabbitMQWriteGraph", "sum by (instance) (rate(petus_projectus_rabbitmq_write_handle_time_sum[1m])) / sum by(instance) (rate(petus_projectus_rabbitmq_write_handle_time_count[1m]))")
</script>

{{template "prom_content_tail" .}}

{{template "tail"}}